<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Essa página é a página teste.">
    <meta name="author" content="Byanka Policiano Santos">
    <title>Inteligência Artificial Solutions</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barbie&display=swap" rel="stylesheet">
    <!-- Adicione o link para o Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
</head>

<body>
    <header class="bg-light text-center py-4">
        <h1 class="m-0">Inteligência Artificial Solutions</h1>
    </header>

    <nav class="bg-light p-2 text-center">
        <a href="/" class="text-dark text-decoration-none p-2">Página Inicial</a>
        <a href="/sobre" class="text-dark text-decoration-none p-2">Sobre</a>
        <a href="/contatos" class="text-dark text-decoration-none p-2">Contato</a>
        <a href="/produtos" class="text-dark text-decoration-none p-2">Produtos</a>
        {% if session['email'] %}
        <a class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Olá, {{ session['nome'].capitalize() }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <h6 class="dropdown-header">Informações do Usuário</h6>
            <div class="dropdown-divider"></div>
            <p class="dropdown-item"><strong>Nome:</strong> {{ session['nome'] }}</p>
            <p class="dropdown-item"><strong>Email:</strong> {{ session['email'] }}</p>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/editar">Editar Dados</a>
            <a class="dropdown-item" href="/sair">Sair</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/excluir_conta" onclick="return confirm('Tem certeza de que deseja excluir sua conta? Essa ação é irreversível.');">Excluir Conta</a>
          </div>
        </a>
        {% else %}
        <a class="nav-item"><a class="nav-link" href="/cadastro">Cadastre-se</a></a>
        <a class="nav-item"><a class="nav-link" href="/login">Login</a></a>
        {% endif %}
        
    </nav>

    <div class="container mt-4">
        {% block conteudo %}

        {% endblock %}
    </div>

    <footer class="bg-light text-center py-2">
        <p class="m-0">Todos os direitos reservados &copy; 2023</p>
    </footer>

    <!-- Adicione o link para o Bootstrap JS e Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
