<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inteligência Artificial Solutions</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barbie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
</head>

<body>
    <header>
        <h1 style="margin: 0;">Inteligência Artificial Solutions</h1>
    </header>

    <nav>
        <a href="/">Página Inicial</a>
        <a href="/sobre">Sobre</a>
        <a href="/contatos">Contato</a>
        <a href="/produtos">Produtos</a>
    </nav>

    {% block conteudo %}

    {% endblock %}

    <footer>
        <p>Todos os direitos reservados &copy; 2023</p>
    </footer>
</body>

</html>
