{% extends 'base.html' %}

{% block conteudo %}
<section>
    <h2>Contatos</h2>
    <p>Entre em contato conosco para obter mais informações sobre nossos serviços e soluções de inteligência artificial. Estamos prontos para atendê-lo!</p>
    <ul>
        <li>E-mail: contato@exemplo.com</li>
        <li>Telefone: (00) 1234-5678</li>
    </ul>
    <p>Também estamos presentes nas redes sociais. Siga-nos para ficar por dentro das novidades e atualizações:</p>
    <ul>
        <li><a href="https://www.facebook.com/exemplo">Facebook</a></li>
        <li><a href="https://www.instagram.com/exemplo">Instagram</a></li>
        <li><a href="https://www.linkedin.com/company/exemplo">LinkedIn</a></li>
        <li><a href="https://twitter.com/exemplo">Twitter</a></li>
    </ul>
</section>
{% endblock %}