{% extends 'base.html' %}

{% block conteudo %}
<section class="cadastro-section my-5">
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        
        <h2 class="text-center">Editar</h2>
        <form action="" method="post" class="cadastro-form">
            
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{ session['nome'] }}" required>
            </div>
            
            <div class="mb-3">
                <label for="sobrenome" class="form-label">Sobrenome:</label>
                <input type="text" class="form-control" id="sobrenome" name="sobrenome" value="{{ session['sobrenome'] }}" required>
            </div>
            
            <div class="mb-3">
                <label for="email" class="form-label">E-mail:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ session['email'] }}" required>
            </div>
            
            <div class="mb-3">
                <label for="senha" class="form-label">Senha:</label>
                <input type="password" class="form-control" id="senha" name="senha" required>
            </div>
   
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</section>
{% endblock %}
