{% extends 'base.html' %}

{% block conteudo %}
<section>
    <h2>Início</h2>
    <p>Conteúdo da página inicial</p>
    <div class="destaque">
        <h3>Seção Destaque</h3>
        <p>A inteligência artificial (IA) é um campo da ciência da computação que se concentra no desenvolvimento de máquinas capazes de realizar tarefas que normalmente exigiriam inteligência humana. Essas tarefas podem incluir reconhecimento de padrões, tomada de decisões, aprendizado, resolução de problemas e compreensão da linguagem humana.</p>
        <p>A IA tem sido aplicada em diversos setores, desde assistentes virtuais como a Siri e a Alexa até sistemas de recomendação em plataformas de streaming e comércio eletrônico. Além disso, a IA também está sendo usada em áreas como medicina, finanças, automação industrial e muito mais.</p>
        <p>Com os avanços tecnológicos e o crescente interesse em IA, muitos especialistas discutem os desafios éticos e sociais que essa tecnologia pode trazer. Questões relacionadas à privacidade, viés algorítmico, segurança e impacto no mercado de trabalho são apenas algumas das preocupações em pauta.</p>
    </div>
</section>
{% endblock %}

