{% extends 'base.html' %}

{% block conteudo %}
<section class="py-4">
    <div class="container">
        <h2 class="mb-4">Produtos</h2>
        
        <div class="row">
            <div class="col-md-6">
                <div class="produto p-4 mb-4">
                    <h3>Chatbot Inteligente</h3>
                    <p>Oferecemos um chatbot inteligente que pode ser integrado ao seu site ou aplicativo. Ele é capaz de interagir com os seus clientes e fornecer respostas rápidas e precisas, melhorando a experiência do usuário.</p>
                    <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="produto p-4 mb-4">
                    <h3>Análise de Dados Avançada</h3>
                    <p>Nossa solução de análise de dados avançada permite que você obtenha insights valiosos a partir dos dados do seu negócio. Com isso, você poderá tomar decisões mais informadas e estratégicas.</p>
                    <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="produto p-4 mb-4">
                    <h3>Reconhecimento de Padrões e Imagens</h3>
                    <p>Nossa tecnologia de reconhecimento de padrões e imagens permite que você extraia informações valiosas de imagens e padrões complexos. Essa tecnologia pode ser aplicada em diversas áreas, desde automação industrial até diagnósticos médicos.</p>
                    <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="produto p-4 mb-4">
                    <h3>Previsão e Modelagem de Dados</h3>
                    <p>Nossa capacidade de previsão e modelagem de dados utiliza algoritmos avançados para analisar tendências passadas e fornecer previsões precisas sobre eventos futuros. Essa análise ajuda a tomar decisões estratégicas e melhorar o desempenho do seu negócio.</p>
                    <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
            
            <div class="col-md-6 offset-md-3">
                <div class="produto p-4 mb-4">
                    <h3>Personalização e Recomendação</h3>
                    <p>Nossa solução de personalização e recomendação utiliza algoritmos de aprendizado de máquina para fornecer recomendações personalizadas aos seus clientes. Isso melhora a experiência do usuário e aumenta o engajamento, resultando em melhores resultados para o seu negócio.</p>
                    <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
