{% extends 'base.html' %}

{% block conteudo %}
<section>
    <h2>Início</h2>
    <p>Conteúdo da página inicial</p>
</section>

<section>
    <h2>Sobre</h2>
    <p>Nossa empresa é líder no desenvolvimento de soluções de inteligência artificial (IA) para empresas de todos os tamanhos. Fundada em 2010 por um grupo de especialistas em IA, nossa missão é levar o poder da IA para ajudar nossos clientes a alcançar seus objetivos e impulsionar seus negócios.</p>
    <p>Temos uma equipe talentosa de cientistas de dados, engenheiros de software e especialistas em aprendizado de máquina que trabalham em conjunto para criar soluções inovadoras. Nossos produtos incluem chatbots inteligentes, sistemas de recomendação personalizados, análise de dados avançada e muito mais.</p>
    <p>Estamos comprometidos com a excelência e a ética em tudo o que fazemos. Buscamos constantemente aprimorar nossas tecnologias e garantir que nossos sistemas sejam justos e transparentes. Além disso, priorizamos a privacidade e a segurança dos dados dos nossos clientes.</p>
    <p>Se você está procurando soluções de IA sob medida para o seu negócio, entre em contato conosco e descubra como podemos ajudar você a impulsionar o sucesso da sua empresa com a inteligência artificial.</p>
</section>
{% endblock %}
